.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 15% 0%;
  margin-bottom: 5px;
}

.main {
  background: #121212e5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: #333 solid 2px;
  padding: 5px;
}

.main h1 {
  font-family: 'Arial', sans-serif;
  color: #fff;
  margin-bottom: 0px;
  background-color: #1212126b;
  padding: 10px;
  font-size: 18px;
}

.Anime_Items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 10px 5px 5px;
  margin: 20px;
}

.anime_Items {
  width: 302px;
  text-align: center;
}

.anime_Items img {
  width: 100%;
  height: auto;
  

}


.anime_Items p {
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
  color: #fff;
}

.Anime_Items-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 15px 10px;
  padding-left: 15px;
  
}

.Anime_Items-2 {
  border: #333 2px solid;
}

.main-mini-0 {
  display: flex;

  margin: 0%;

}

.main-mini-2 p {
  color: #fff;
  padding: 5px;
}

.main-mini-2 {
  padding: 10px;
}

.ranking-unit {

  display: flex;
}

.main-mini-2 {
  color: #e0e0e0;
  border: #333 2px solid;
  background-color: #33333325;
}

.ranking-unit-info {
  padding: 10px;
}

.ranking-unit {
  width: 302px;
  height: 94px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.Header-top-Anime {
  display: flex;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.header-top-anime-right {
  color: #abc4ed;
}
.anime_Items {
  border: #333 2px solid;
}
.anime_Items p{
  padding: 10px;
}
.anime_Image-info{
  padding: 10px 0px 0px;
}
.chibi-right img{
  width: 250px;
  height: auto;
  padding: 80px 10px 0px;
}